<div class="container">
  <h3>Students</h3>
  <div class="row">
    <% students.forEach(function(student){ %>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <a href="/students/<%=student.id %>"><img class="responsive-img" src="<%= student.photo %>"></a>
          <span class="card-title"><%= student.firstName %></span>
        </div>
        <div class="card-content">
          <p>Year: <%= student.year %></p><br>
          <p>quote: <%= student.quote %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>